:root {
  font-family: "Red Hat Display", sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-size-heading: clamp(2.2rem, 1.9273rem + 0.7273vw, 2.8rem);
  --font-size-body: clamp(1.5rem, 1.4545rem + 0.1212vw, 1.6rem);
  --font-size-small: clamp(1.4rem, 1.3091rem + 0.2424vw, 1.6rem);
  --font-size-detail: clamp(1.3rem, 1.2545rem + 0.1212vw, 1.4rem);
  --line-height-body: 2.5rem;

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(223, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --button-hover-col: hsl(245, 83%, 68%);
}

/* for dekstop view */
/* not responsive yet */
body {
  background: var(--pale-blue);
  min-width: 1920px;
  min-height: 1080px;
  display: flex;
  place-items: center;
  justify-content: center;
  /* padding: 5rem; */
  background-image: url(/images/pattern-background-desktop.svg);
  /* background-repeat: repeat-x;
  background-position: top; */
}

.card {
  background-color: white;
}
